@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.footer {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto; 
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 10px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  max-width: 300px;
  padding: 10px;
  text-align: center; 
}

.footer-section h3 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center; 
}

.footer-section p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center; 
}

.social-links a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ddd;
}

.footer-bottom {
  text-align: center;
  margin-top: 0px;
  background-color: #222;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  color: #ccc;
}

.footer i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-section {
    max-width: 100%;
    text-align: center;
  }

  .footer-section ul {
    padding-left: 0;
    align-items: center; 
  }

  .footer-section a {
    font-size: 0.9rem;
  }

  .footer-bottom {
    font-size: 0.9rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    gap: 20px;
    flex-direction: column;
  }

  .footer-section {
    max-width: 100%;
    text-align: center;
  }

  .footer-section h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .footer-section p {
    font-size: 0.7rem;
    margin-bottom: 5px;
  }

  .footer-section ul li a {
    font-size: 0.7rem;
  }
  .footer-section ul li{
    margin: 5px 0px;
  }
  .social-links a {
    font-size: 0.7rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
    padding: 8px;
  }
}
