.job-card {
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  color: #000;
}
.job-card:hover{
  transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.job-card h3 {
  font-size: 20px;
  color: #007bff;
  margin: 10px;
}

.job-card p {
  font-size: 14px;
  margin: 5px 15px;
  color: #000;
}

.apply-button {
  margin-top: auto; 
  padding: 10px;
  font-size: 14px;
  background-color: #5965ee;
  color: #fff;
  border: none;
  border-radius: 0px 0px 10px 10px; 
  cursor: pointer;
  text-align: center;
  width: 100%; 
}

.apply-button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .job-card {
    width: 150px;
    height: auto;
  }

  .job-card h3 {
    font-size: 10px;
    margin: 5px 5px 2px 5px;
  }

  .job-card p {
    font-size: 9px;
    margin: 5px;
  }

  .apply-button {
    font-size: 10px;
    padding: 5px;
  }
}
