.navbar {
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    padding: 10px 20px;
    z-index: 1;
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .navbar-logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
  }
  
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: transparent;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .navbar-link:hover {
    background-color: #045dbb;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .navbar-right {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px; 
      right: 0;
      width: 200px; 
      padding: 10px;
      border-radius: 0 0 5px 5px; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
      z-index: 1000; 
    }
  
    .navbar-right.expanded {
      display: flex;
    }
  }
  