@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'); 

.stats-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 0px;
  padding: 50px 20px 0px 20px;
  background-color: #f9f9f9;
}

.stat-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 3rem;
  color: #007BFF;
  margin-bottom: 10px;
}

.stat-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 1rem;
  color: #555;
}

@media (max-width: 1024px) {
  .stats-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .stats-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .stats-section {
    grid-template-columns: repeat(3,1fr);
  }
  .stat-card h3{
    font-size: 0.5rem;
  }
  .stat-card{
    padding: 5px;
    font-size: 0.5rem;
  }
  .stat-card i{
    font-size: 20px;
  }
  .stat-card p{
    font-size: 8px;
  }
}
